/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #059669;
  --ifm-color-primary-dark: #059669;
  --ifm-color-primary-darker: #059669;
  --ifm-color-primary-darkest: #059669;
  --ifm-color-primary-light: #10b981;
  --ifm-color-primary-lighter: #10b981;
  --ifm-color-primary-lightest: #10b981;
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 15px;
  --ifm-navbar-height: 4rem;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    height: 3rem;
}

.navbar__title {
    font-size: 1.2rem;
}

.navbar--fixed-top .navbar__link {
    font-weight: 400;
}

.navbar--fixed-top.navbar__link--active {
    font-weight: 600;
}

.theme-doc-sidebar-item-link-level-1 {
    font-size: 14px;
    font-weight: 300;
}

.theme-doc-sidebar-item-category-level-1 {
    font-size: 14px;
    font-weight: 500;
}

.theme-doc-sidebar-item-link-level-2 {
    font-size: 13px;
    font-weight: 300;
}

.codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-weight: 700 !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #059669;
  --ifm-color-primary-dark: #059669;
  --ifm-color-primary-darker: #059669;
  --ifm-color-primary-darkest: #059669;
  --ifm-color-primary-light: #10b981;
  --ifm-color-primary-lighter: #10b981;
  --ifm-color-primary-lightest: #10b981;
  --ifm-heading-font-weight: 600;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
